.log-result-layout {
  height: 100%;
  width: 100%;
}
.log-result-sider {
  background-color: #fff;
  height: 100%;
}

.log-result-select-date {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
}

.log-result-date-tool {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.log-result-select-date .log-result-select-date-range {
  height: calc(100% - 140px);
  overflow-y: auto;
  overflow-x: hidden;
}
.log-result-select-date
  .log-result-select-date-range
  .log-result-select-date-range-container {
  height: 100%;
}

.log-result-select-date .ant-slider-mark-text span {
  text-overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
}

.damage-meter-table-title {
  display: flex;
  justify-content: space-between;
}
